@import "tailwindcss";

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam.eot") format("woff2"),
    url("../assets/Fonts/Shabnam.woff") format("woff"),
    url("../assets/Fonts/Shabnam.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Bold.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Bold.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Bold.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Bold.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Light.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Light.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Light.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Light.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Medium.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Medium.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Medium.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Medium.eot") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-FD.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-FD.woff") format("woff"),
    url("../assets/Fonts/Shabnam-FD.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-FD.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: "Shabnam" !important;
    font-feature-settings: "ss01";
    direction: rtl;
    /* background-color: var(--color-primary); */
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
}

@layer components {
  .SocialIconFooter {
    transition: scale 0.3s ease;
    &:hover {
      scale: 1.1;
    }
  }
  .Input {
    @apply w-full pl-12 pr-4 py-3 text-right bg-gray-50 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition-shadow duration-200;
  }
  .CustomBTN {
    color: white;
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .LoginFormBtn {
    @apply bg-primary rounded-lg px-4 py-2 hover:bg-gray;
    transition: all 0.3s ease;
  }
  .CustomBTN::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    z-index: -1;
    transition: width 0.3s ease;
  }
  .CustomBTN:hover::before {
    width: 100%;
  }
  .CustomBTN:hover {
    color: #ffd700;
    border-color: #ffd700;
  }
  .ConfirmBTN {
    @apply px-6 py-2 rounded-xl bg-green-500 text-white shadow-md transform transition-all duration-300 hover:scale-105 hover:shadow-green-400 hover:-translate-y-1 cursor-pointer active:scale-95;
  }
  .CancelBTN {
    @apply px-6 py-2 rounded-xl bg-gray-200 text-gray-800 shadow-md transform transition-all duration-300 hover:scale-105 hover:shadow-gray-400 hover:-translate-y-1 cursor-pointer active:scale-95;
  }
  .DeleteBTN {
    @apply px-6 py-2 rounded-xl bg-red-500 text-white shadow-md transform transition-all duration-300 hover:scale-105 hover:shadow-red-500 hover:-translate-y-1 active:scale-95 cursor-pointer;
  }
  .EditBTN {
    @apply flex items-center gap-2 px-6 py-2 rounded-xl bg-blue-500 text-white shadow-md transform transition-all duration-300 hover:scale-105 hover:shadow-blue-400 hover:-translate-y-1 active:scale-95 cursor-pointer;
  }
  .DeleteBTN:disabled {
    @apply disabled:opacity-50 disabled:hover:translate-y-0 disabled:hover:scale-100 disabled:hover:shadow-none disabled:hover:bg-red-500;
  }
  .AddTocartBTN {
    @apply w-full py-2 px-4 bg-[var(--color-primary)] text-white rounded-lg text-sm font-semibold flex items-center justify-center gap-2 
    hover:shadow-lg transition duration-300 hover:-translate-y-1;
  }
  .SeeDetailsBTN {
    @apply w-full py-2 px-4 border bg-[var(--color-primary)]/70 text-white rounded-lg text-sm font-medium flex items-center justify-center gap-2
    hover:shadow-lg transition duration-300 hover:scale-105;
  }
}

@theme {
  --color-primary: #a58a01;
  --color-gray: #e2ceca;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Global scrollbar style */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* ::-webkit-scrollbar-track {
  background: transparent;
} */

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #888, #555);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease-in-out;
}
