@import "tailwindcss";

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam.eot") format("woff2"),
    url("../assets/Fonts/Shabnam.woff") format("woff"),
    url("../assets/Fonts/Shabnam.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Bold.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Bold.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Bold.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Bold.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Light.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Light.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Light.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Light.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Medium.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Medium.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Medium.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Medium.eot") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-FD.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-FD.woff") format("woff"),
    url("../assets/Fonts/Shabnam-FD.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-FD.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: "Shabnam";
    font-feature-settings: "ss01";
    direction: rtl;
    background-color: var(--color-primary);
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
}

@layer components {
  .LoginBackGround{
    background-image: url("../../public/images/background-Pattern.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@theme {
  --color-primary: #1b2223;
  --color-secondary: #3a4f50;
  --color-white: #f4fefd;
  --color-MainGreen: #0ef6cc;
}
