@import "tailwindcss";

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam.eot") format("woff2"),
    url("../assets/Fonts/Shabnam.woff") format("woff"),
    url("../assets/Fonts/Shabnam.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Bold.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Bold.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Bold.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Bold.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Light.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Light.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Light.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Light.eot") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-Medium.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-Medium.woff") format("woff"),
    url("../assets/Fonts/Shabnam-Medium.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-Medium.eot") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../assets/Fonts/Shabnam-FD.eot") format("woff2"),
    url("../assets/Fonts/Shabnam-FD.woff") format("woff"),
    url("../assets/Fonts/Shabnam-FD.ttf") format("truetype"),
    url("../assets/Fonts/Shabnam-FD.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: "Shabnam" !important;
    font-feature-settings: "ss01";
    direction: rtl;
    /* background-color: var(--color-primary); */
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
}

@layer components {
  .SocialIconFooter {
    transition: scale 0.3s ease;
    &:hover {
      scale: 1.1;
    }
  }
  .Input {
    @apply p-2 border rounded;
  }
  .CustomBTN {
    color: white;
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .LoginFormBtn {
    @apply bg-primary rounded-lg px-4 py-2 hover:bg-gray;
    transition: all 0.3s ease;
  }
  .CustomBTN::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    z-index: -1;
    transition: width 0.3s ease;
  }
  .CustomBTN:hover::before {
    width: 100%;
  }
  .CustomBTN:hover {
    color: #ffd700;
    border-color: #ffd700;
  }
  .ConfirmBTN {
    @apply px-6 py-2 rounded-xl bg-green-500 text-white shadow-md transform transition-all duration-300 hover:scale-105 hover:shadow-green-400 hover:-translate-y-1;
  }
  .CancelBTN {
    @apply px-6 py-2 rounded-xl bg-gray-200 text-gray-800 shadow-md transform transition-all duration-300 hover:scale-105 hover:shadow-gray-400 hover:-translate-y-1;
  }
  .DeleteBTN {
    @apply px-6 py-2 rounded-xl bg-red-500 text-white shadow-md transform transition-all duration-300 hover:scale-110 hover:shadow-red-500 hover:-translate-y-1 active:scale-95;
  }
  .EditBTN {
    @apply flex items-center gap-2 px-6 py-2 rounded-xl bg-blue-500 text-white shadow-md transform transition-all duration-300 hover:scale-105 hover:shadow-blue-400 hover:-translate-y-1 active:scale-95;
  }
}

@theme {
  --color-primary: #ffd700;
  --color-gray: #e2ceca;
}
